
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  padding-left: 5px;
}
input[type=file]
{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  resize: vertical;

}
.btn {
  background-color: rgb(75, 155, 155);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1%;
  margin-left: 25%;
  width: 50%;
  
}

.btn:hover {
  background-color: rgb(75, 155, 155);
}

.container {
  border-radius: 5px;
  background-color: rgb(212, 241, 241);
  padding: 20px;
  margin:100px ;
}

.col-25 {
  float: left;
  width: 20%;
  
 
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}




table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center!important;
  padding-top: 2px;
}
table.center {
  margin-top: 5%;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 5%;
  width: 70%;
}




/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 10px;
  }
}

.navButton{
  background-color: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  text-decoration: none;
  font-weight: 1100;
}
.navButton:hover{
  background-color: rgb(231, 226, 226);
}



.error{
  color: #1ac722;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}